ul {
  list-style: none;
  display: block;
  padding: 0;
}

address {
  font-style: normal;
}

.layout-footer {
  display: flex;
  background-color: #fafafa;
  justify-content: center;
  align-content: center;
}

.layout-footer-content {
  display: block;
  width: 1156px;
  margin: 0 auto;
  padding: 30px 15px 40px;
  box-sizing: border-box;
}

.layout-footer-shortcut {
  margin: 0 -5px 10px;
}

.layout-footer-shortcut li {
  display: inline;
}

.layout-footer-shortcut-item {
  display: inline-block;
  margin: 0 3px;
  padding: 2px;
  font-size: 10px;
  font-weight: bold;
  color: #424242;
  line-height: 16px;
}

.layout-footer-info {
  display: block;
  margin: 0 -5px;
  font-size: 10px;
  color: #757575;
  line-height: 16px;
}

.layout-footer-info-item {
  display: inline-block;
  margin: 0 3px;
  padding: 2px;
}

.layout-footer-copyright {
  margin: 10px 0 0;
  font-size: 10px;
  color: #424242;
  line-height: 16px;
}
